ENV_FILE_NAME=".env"

# RunMode
RUN_MODE__ENVIRONMENT="development" # development | production

# Uvicorn
UVICORN__HOST="0.0.0.0"
UVICORN__PORT="8000"
UVICORN__LOG_LEVEL="INFO"
UVICORN__PROXY_HEADERS="False"
UVICORN__FORWARDED_ALLOW_IPS="*"
UVICORN__WORKERS="1"
UVICORN__SERVER_HEADER="False"

# FastAPI
FASTAPI__APPLICATION_NAME="Vardast test task"
FASTAPI__APPLICATION_DESCRIPTION=""
FASTAPI__APPLICATION_VERSION="0.0.1"
FASTAPI__ENDPOINT_PREFIX="vardast"
FASTAPI__DOCS_URL="/${FASTAPI__ENDPOINT_PREFIX}/docs"
FASTAPI__REDOC_URL="/${FASTAPI__ENDPOINT_PREFIX}/redoc"
FASTAPI__OPENAPI_URL="/${FASTAPI__ENDPOINT_PREFIX}/openapi.json"

# PostgreSQL
POSTGRESQL__USERNAME="admin"
POSTGRESQL__PASSWORD="123456"
POSTGRESQL__DATABASE="db"
POSTGRESQL__PORT="5432"
POSTGRESQL__HOST="db"

# Validation
VALIDATION__FILE_MAX_SIZE="10000000"
VALIDATION__FILE_ALLOWABLE_EXTENSIONS='[".md",".txt"]'


# HTTPX
HTTPX__MAX_CONNECTIONS="10"
HTTPX__MAX_KEEPALIVE_CONNECTIONS="5"
HTTPX__KEEPALIVE_EXPIRY_SEC="5"
HTTPX__CONNECT_TIMEOUT_SEC="5.0"
HTTPX__READ_TIMEOUT_SEC="10.0"
HTTPX__WRITE_TIMEOUT_SEC="5.0"
HTTPX__POOL_TIMEOUT_SEC="5.0"
